#js-ion {
  font-size: 90px;
  padding-left: 50px;
  margin-left: 10%;
  display: inline-grid;
}

#skills-header {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #297b89;
}

.service-heading {
  color: #297b89;
}

#branding {
  font-size: 20px !important;
}

#my-photo {
  margin-top: 30%;
}

#about {
  background-color: #149bb3;
}
#skills {
  padding-bottom: 80px;
  background-image: url("http://i.imgur.com/vsFRrsO.png");
}

#services {
  background-color: #375977;
}

#home-title {
  font-size: 61px;
}

#home-message {
  border: 3px solid;
  border-radius: 40px;
}

#resume-container {
  display: inline-block;
  text-align: center;
  margin-left: 25%
}

#resume-link {
  border-radius: 30px;
  margin-right: 30px;
}

#portfolio-link {
  border-radius: 30px;
  margin-right: 30px;
}

#github-link {
  border-radius: 30px;
}

#portfolio {
  background-color: #cee2ee;
  padding-bottom: 80px;
}

#portfolio-header {
  background-color: #cee2ee;
}

#contact {
  background-color: #073964;
}

#ember-icon {
  margin-top: 25px;
  margin-left: 25px;
}

.project-item {
  padding: 5px;
}

@media (max-width: 500px) {
  #main-nav.scrolled .navbar-brand{
      margin-top: -45px;
      font-size: 30px;
  }
  #main-nav .navbar-brand{
      margin-top: -45px;
  }
  #my-photo {
    margin-top: -20px;
  }
  #resume-container {
    margin: 0 auto;
  }
  #resume-link {
    margin-bottom: 10px;
    margin-left: 30px;
  }
  #portfolio-link {
    margin-bottom: 10px;
    margin-left: 30px;
  }
  #github-link {
    margin-bottom: -25px;
  }
  #skills-header {
    font-size: 35px;
    margin-top: -30px;
  }
  #main-footer ul.footer-nav {
    text-align: center;
    margin-bottom: -15px;
  }
  address {
    text-align: center;
  }
  #contact .socials {
    margin-left: -22px;
  }

}
